<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>インターフォン</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  </head>
  <body>
    <h2>インターフォン</h2>
    <button id="visit-button">訪問</button>

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        // socket通信開始
        var socket = io.connect(
          "http://" + document.domain + ":" + location.port
        );

        // 居住者からのメッセージを受け取る
        socket.on("recieve_resident_message", function (data) {
          console.log(data.message);
        });

        // 訪問ボタンを押した時の挙動
        document
          .getElementById("visit-button")
          .addEventListener("click", function () {
            const userMessage = "訪問者<こんにちは！";
            socket.emit("visit_message", {message: userMessage});
          });
      });
    </script>
  </body>
</html>

